* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  // background: linear-gradient(white, 93%, rgba(#a9824b, 0.8));
  color: rgba(#000, 0.6);
  min-height: 100%;
  border: 30px solid rgba(#a9824b, 0.1);;
}

.container {
  padding: 80px 60px;
  max-width: 700px;
  margin: 0 auto;
  height: 100%;
}

h1 {
  color: #584e39;
}

code {
  display: block;
  padding: 10px 15px;
  background: rgba(#a9824b, 0.1);
  border-radius: 3px;
  font-size: 13px;
  line-height: 1.6;
  color: rgba(#000, 0.6);
  margin-top: 30px;
}

blockquote {
  margin: 40px 0 0 0;
  line-height: 1.3;
  font-style: italic;
  color: rgba(#000, 0.4);
  border-top: 1px solid rgba(#000, 0.1);
  border-bottom: 1px solid rgba(#000, 0.1);
  padding: 30px 0;
}
